In [1]:
import math

In [2]:
import random

In [3]:
result = math.sqrt(42)

In [4]:
print(result)

6.48074069840786

In [7]:
number = random.randint(1,1000)

In [8]:
print(number)

474

In [9]:
students = ["Emily", "Maya", "Livia", "Alex", "Yumeng", "Sara", "Jessica", "Ziwei", "Lu", "Minghui", "Sejung", "Sungjik", "Khuplunmang", "Bihan", "Rongrong", "Guihan", "Jazsalyn", "Heeya", "Shea", "Hanul", "Apurv", "Daniel", "Fareeha", "Cai", "Sheethal", "Ege", "Yufei", "Tong", "Tania", "Yuan"]

In [11]:
print(students)

['Emily', 'Maya', 'Livia', 'Alex', 'Yumeng', 'Sara', 'Jessica', 'Ziwei', 'Lu', 'Minghui', 'Sejung', 'Sungjik', 'Khuplunmang', 'Bihan', 'Rongrong', 'Guihan', 'Jazsalyn', 'Heeya', 'Shea', 'Hanul', 'Apurv', 'Daniel', 'Fareeha', 'Cai', 'Sheethal', 'Ege', 'Yufei', 'Tong', 'Tania', 'Yuan']

In [43]:
attendance = random.choice(students)
print(attendance)

Livia

In [44]:
answer = random.shuffle(students)
print(attendance)

Livia

In [14]:
def randomCall():
    random.shuffle(students)
    answer = random.choice(students)
    print(answer)

In [15]:
randomCall()

Tong

In [45]:
name = "Shea"
randomCall()

Heeya

In [17]:
type(name)

str

In [18]:
group = ["Daniel", "Juan", "Hiba"]

In [19]:
type(group)

list

In [20]:
print("Original group: " + str(group))

Original group: ['Daniel', 'Juan', 'Hiba']

In [21]:
# this is to append to a group
group += [name]

In [22]:
print("New group: " + str(group))

New group: ['Daniel', 'Juan', 'Hiba', 'Shea']

In [23]:
n = 5

In [24]:
print(n)

5

In [25]:
listA = [10, 20, 30, 40, 50]

In [26]:
print(listA)

[10, 20, 30, 40, 50]

In [27]:
type(listA)

list

In [28]:
print(listA[2])

30

In [29]:
# the first position aka index is 0, second ia 1, etc.
print(listA[0])

10

In [30]:
listA[2] = 150

In [31]:
print(listA)

[10, 20, 150, 40, 50]

In [32]:
print(listA[2])

150

In [33]:
# items in a list do not have to be the same data type
listB = [True, "a string", 42, 123.4]

In [34]:
type(listB)

list

In [35]:
# this is a type of sequence called a tuple, which cannot be changed after created
child1_birth = ("Hermione", "Oxford Children's Hospital", "London", "UK", "9/19/1979", "09:42") 
child2_birth = ("Harry", "Abbotts Hospital", "Surrey", "UK", "07/31/1980", "12:34")

In [36]:
type(child1_birth)

tuple

In [37]:
type(child2_birth)

tuple

In [38]:
print(child1_birth)

('Hermione', "Oxford Children's Hospital", 'London', 'UK', '9/19/1979', '09:42')

In [39]:
print("Child name: " + child1_birth[0])

Child name: Hermione

In [41]:
print(child2_birth[5])

12:34

In [42]:
# attempt to change an item in a tuple
child2_birth[5] = 500

TypeError: 'tuple' object does not support item assignment

In [48]:
# note that input is case sensitive!
snowing = input("is it snowing? (yes/no)")
if snowing == "yes":
    print("You need boots")

is it snowing? (yes/no)yes
You need boots

In [ ]:
# example input
#input("Choose an integer between - 10 and 10")

In [50]:
# another example
age = input("Enter your age: ")

Enter your age: 18

In [53]:
age = input("Enter your age: ")
age = int(age)
if age > 18:
    print("Vote!")

Enter your age: 30
Vote!

In [55]:
# if x = y, it won't matter which is printed
def minimum(x, y):
    if x < y:
        return x
    else:
        return y

In [56]:
# test out min and max
result = minimum(2,5)
print(result)

2

In [57]:
#test out minimum -2 and -5
result = minimum(-2,-5)
print(result)

-5

In [58]:
# test out 7 and 7
result = minimum(7,7)
print(result)

7

In [59]:
# test out min on floating point inputs

result = minimum(3,3.1)
print(result)

3

In [60]:
# if-elif statements

raining = input("Is it raining? yes or no: ")
umbrella = input("Do you have an umbrella? yes or no: ")
if raining == "yes" and umbrella == "yes":
    print("Don't forget your umbrella when you go out!")
elif rainging == "yes" and umbrella == "no":
    print("Wear a jacket!")

Is it raining? yes or no: yes
Do you have an umbrella? yes or no: yes
Don't forget your umbrella when you go out!

In [62]:
x = input("Enter a number here: ")
x = float(x)
if x < 2:
    print("The number is less than 2")
elif x < 6:
    print("The number is less than 6")
elif x < 8:
    print("The number is less than 8")
elif x < 10:
    print("The number is less than 10")

Enter a number here: 4
The number is less than 6

In [63]:
x = 1
print(float(x))

1.0

In [65]:
x = 1.5

In [67]:
print(int(x))

1

In [69]:
x = input("Enter a number here: ")
x = float(x)
if x < 2:
    print("The number is less than 2")
if x < 6:
    print("The number is less than 6")
if x < 8:
    print("The number is less than 8")
if x < 10:
    print("The number is less than 10")

Enter a number here: 1.8
The number is less than 2
The number is less than 6
The number is less than 8
The number is less than 10

In [70]:
# input is - 4 ==> absolute val is 4
# input is 0 ==> absolute val is 0
# input is 7.3 ==> absolute val is 7.3

def abs_val(num):
    if num < 0:
        return -num
    elif num == 0:
        return num

In [71]:
result = abs_val(-4)

In [72]:
print(result)

4

In [73]:
result = abs_val(0)
print(result)

0

In [74]:
result = abs_val(7.3)
print(result)

None

In [75]:
# increment = increase; decrement = decrease

In [76]:
# range takes in (start, stop, step)

In [80]:
#iterating through a range
for i in range(4):
    print(i)

0
1
2
3

In [82]:
# range takes in (start, stop, step)
# skipping every other number

for i in range(1, 8, 2):
    print(i)

1
3
5
7

In [83]:
# iterate over a sequence
vowels = ['a','e','i','o','u']
for v in vowels:
    print(v)

a
e
i
o
u

In [84]:
# len is a built in function that gives you length
length = len(vowels)
print(length)

5

In [86]:
# while is a condition that is looping through vowels and incrementing by 1

vowels = ['a','e','i','o','u']
i = 0
while i < len(vowels):
    print(vowels[i])
    i += 1

a
e
i
o
u

In [87]:
# an example of a recursive function

def factorial(n):
    """Return the factorial of positive integer n."""
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [88]:
number = factorial(42)

In [89]:
print(number)

1405006117752879898543142606244511569936384000000000

In [90]:
def sum_digits(n):
    """Return the sum of the digits of positive integer n."""
    if n < 10:
        return n
    else:
        all_but_last = n//10
        last = n%10
        return sum_digits(all_but_last) + last

In [93]:
sum = sum_digits(25)
print(sum)

7

In [94]:
def isPalindrome(s):
    """Return whether a string is a palindrome."""
    if len(s) <= 1:
        return True
    else:
        return s[0] == s[-1] and isPalindrome(s[1:-1])

In [95]:
def fib(n):
    """Return nth number of the fibonacci sequence"""
    if n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [96]:
fibNum = fib(9)
print(fibNum)

21

In [98]:
# Object classes are capitalized
# self is bound to the object class Dog
class Dog():
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print("Woof woof")

In [99]:
fido = Dog("Fido", 2)

In [100]:
fido.bark()

Woof woof

In [101]:
print(fido.name)

Fido

In [102]:
print(fido.age)

2

In [103]:
fido.age += 1

In [104]:
print(fido.age)

3