In [1]:
import calendar

In [2]:
cal = calendar.month(2021, 1)

In [3]:
print(cal)

    January 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [4]:
import math

In [5]:
result = math.sqrt(25)

In [6]:
print(result)

5.0

In [7]:
import random

In [10]:
number = random.randint(1,100)

In [11]:
print(number)

48

In [12]:
students = ["Emily", "Maya", "Livia", "Alex", "Yumeng", "Sara", "Jessica", "Ziwei", "Lu", "Minghui", "Sejung", "Sungjik", "Khuplunmang", "Bihan", "Rongrong", "Guihan", "Jazsalyn", "Heeya", "Shea", "Hanul", "Apurv", "Daniel", "Fareeha", "Cai", "Sheethal", "Ege", "Yufei", "Tong", "Tania", "Yuan"]

In [13]:
attendance = random.choice(students)

In [14]:
print(attendance)

Yuan

In [15]:
answer = random.shuffle(students)

In [16]:
print(students)

['Yuan', 'Bihan', 'Khuplunmang', 'Ege', 'Ziwei', 'Yumeng', 'Lu', 'Jazsalyn', 'Sara', 'Rongrong', 'Sungjik', 'Yufei', 'Alex', 'Tania', 'Hanul', 'Livia', 'Shea', 'Guihan', 'Apurv', 'Jessica', 'Daniel', 'Emily', 'Cai', 'Minghui', 'Sejung', 'Sheethal', 'Heeya', 'Maya', 'Tong', 'Fareeha']

In [17]:
print(students)

['Yuan', 'Bihan', 'Khuplunmang', 'Ege', 'Ziwei', 'Yumeng', 'Lu', 'Jazsalyn', 'Sara', 'Rongrong', 'Sungjik', 'Yufei', 'Alex', 'Tania', 'Hanul', 'Livia', 'Shea', 'Guihan', 'Apurv', 'Jessica', 'Daniel', 'Emily', 'Cai', 'Minghui', 'Sejung', 'Sheethal', 'Heeya', 'Maya', 'Tong', 'Fareeha']

In [18]:
def randomCall():
    random.shuffle(students)
    answer = random.choice(students)
    print(answer)

In [19]:
randomCall()

Guihan

In [20]:
randomCall()

Yumeng

In [21]:
randomCall()

Shea

In [22]:
name = "Shea"

In [23]:
type(name)

str

In [24]:
group = ["Daniel", "Juan", "Hiba"]

In [25]:
type(group)

list

In [26]:
print("Original group: " + str(group))

Original group: ['Daniel', 'Juan', 'Hiba']

In [28]:
# appending a string to a list
group += [name]

In [29]:
print("New group: " + str(group))

New group: ['Daniel', 'Juan', 'Hiba', 'Shea', 'Shea']

In [30]:
n = 5
print(n)

5

In [31]:
listA = [10, 20, 30, 40, 50]
print(listA)

[10, 20, 30, 40, 50]

In [32]:
type(listA)

list

In [33]:
print(listA[2])

30

In [34]:
# index means "position"
# index of 10 in listA is 0, index of 20 is 1...
third_item = listA[2]

In [35]:
print(third_item)

30

In [36]:
listA[2] = 200

In [37]:
print(listA[2])

200

In [38]:
print(listA)

[10, 20, 200, 40, 50]

In [41]:
# lists can store a bunch of kinds of data
listB = [False, "a string", 42, 123.4]

In [42]:
type(listB)

list

In [45]:
# order of items in a tuple cannot be changed after creation
# this is a tuple

child1_birth = ("Hermione", "Oxford Hospital", "London", "LO", "UK", "9/19/1979", "09:42")

In [46]:
child2_birth = ("Harry", "Surrey Hospital", "Surrey", "EG", "UK", "7/31/1980", "16:25")

In [47]:
type(child2_birth)

tuple

In [48]:
print(child1_birth)

('Hermione', 'Oxford Hospital', 'London', 'LO', 'UK', '9/19/1979', '09:42')

In [49]:
print(child2_birth)

('Harry', 'Surrey Hospital', 'Surrey', 'EG', 'UK', '7/31/1980', '16:25')

In [51]:
print("Child1 name: " + child1_birth[0])

Child1 name: Hermione

In [52]:
# second child's og time of birth
print(child2_birth[6])

16:25

In [53]:
#attempt to change the time of birth
# throws a type error

child2_birth[6] = "17:25"

TypeError: 'tuple' object does not support item assignment

In [54]:
# note: responses are case senstive

snowing = input("is it snowing? (yes/no)")
if snowing == "yes":
    print("you need boots!")

is it snowing? (yes/no)yes
you need boots!

In [55]:
age = input("Enter your age here: ")
age = int(age)
if age < 18:
    print("Don't forget to register to vote when you turn 18!")

Enter your age here: 12
Don't forget to register to vote when you turn 18!

In [56]:
def minimum(x, y):
    if x < y:
        return x
    else: 
        return y
    
# if x = y, it wont matter which is returned

In [57]:
# test out function "minimum" with the inputs 10 and 15

result = minimum(10, 15)
print(result)

10

In [58]:
# test out function "minimum" with the inputs 22 and -8

result = minimum(22, -8)
print(result)

-8

In [59]:
# test out function "minimum" with the inputs 7 and 7

result = minimum(7, 7)
print(result)

7

In [60]:
# test out minimum function with an integer and a floating point number

result = minimum(5, 5.5)
print(result)

5

In [61]:
# note: responses are case senstive

snowing = input("is it snowing? (yes/no)")
umbrella = input("do you have an umbrella? (yes/no)")
if snowing == "yes" and umbrella =="yes":
    print("Don't forget your umbrella when you go out!")
elif snowing == "yes" and umbrella =="no":
    print("Wear a waterproof jacket when you go out.")

is it snowing? (yes/no)yes
do you have an umbrella? (yes/no)yes
Don't forget your umbrella when you go out!

In [62]:
x = input("Enter a number: ")
x = float(x)
if x < 2:
    print("The number " + str(x) + " is less than 2")
elif x < 6:
    print("The number " + str(x) + " is less than 6")
elif x < 8:
    print("The number " + str(x) + " is less than 8")
elif x < 10:
    print("The number " + str(x) + " is less than 10")

Enter a number: 1.235234
The number 1.235234 is less than 2

In [63]:
x = 1
print(float(x))

1.0

In [64]:
x = 1.5
print(int(x))

1

In [65]:
x = input("Enter a number: ")
x = float(x)
if x < 2:
    print("The number " + str(x) + " is less than 2")
if x < 6:
    print("The number " + str(x) + " is less than 6")
if x < 8:
    print("The number " + str(x) + " is less than 8")
if x < 10:
    print("The number " + str(x) + " is less than 10")

Enter a number: 1.42534
The number 1.42534 is less than 2
The number 1.42534 is less than 6
The number 1.42534 is less than 8
The number 1.42534 is less than 10

In [66]:
#if elif else
# input is - 4 --> absolute val is 4
# input is 0 --> absolute val is 0
# input is 78.3 --> absolute val is 78.3

In [72]:
def abs_val(num):
    if num < 0:
        return -num
    elif num == 0:
        return num
    else:
        return num

In [73]:
result = abs_val(-4)
print(result)

4

In [74]:
result = abs_val(0)
print(result)

0

In [75]:
result = abs_val(78.3)
print(result)

78.3

In [77]:
# for loops for checking every item in a sequence
# range is a built in function that takes (range(start, stop, step))
# starts at index 0

for i in range(4):
    print(i)

0
1
2
3

In [79]:
# 1 = start, 8 = stop, 2 = step
for i in range(1, 8, 2):
    print(i)

1
3
5
7

In [80]:
vowels = ['a', 'e', 'i', 'o', 'u']
for v in vowels:
    print(v)

a
e
i
o
u

In [81]:
# while loop
# len is a buit in function that will return the length of the sequence

vowels = ['a', 'e', 'i', 'o', 'u']
length = len(vowels)
print(length)

5

In [82]:
vowels = ['a', 'e', 'i', 'o', 'u']
i = 0
while i < len(vowels):
    print(vowels[i])
    i += 1

a
e
i
o
u

In [87]:
# an example of a recursive function
# factorial is referencing itself

def factorial(n):
    """Return the factorial of positive integer n."""
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [88]:
number = factorial(4)
print(number)

24

In [89]:
def sum_digits(n):
    """Return the sum of digits of positive integer n"""
    if n < 10:
        return n
    else:
        all_but_last = n//10
        last = n%10
        return sum_digits(all_but_last)+last

In [92]:
sum = sum_digits(89)
print(sum)

17

In [93]:
def fib(n):
    """Return nth number of the fibonacci sequence"""
    if n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [94]:
fibNum = fib(9)
print(fibNum)

21

In [95]:
# STRING SLICING IS IMPORTANT

def isPalindrome(s):
    """Return whether a string is a palindrom"""
    if len(s)<= 1:
        return True
    else:
        return s[0] == s[-1] and isPalindrome(s[1:1])

In [96]:
# define an object class
# object classes are capitalized
# a method is defined within the class

class Dog():
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def bark(self):
        print("Woof woof!!")

In [98]:
#created a specific instance of the dog class
fido = Dog("Fido", 2)

In [100]:
fido.bark()

Woof woof!!

In [101]:
print(fido.name)

Fido

In [102]:
print(fido.age)

2

In [103]:
fido.age += 1

In [104]:
print(fido.age)

3